#title{
width:100%;
background-color:red;
height:9%%;
border-color:red;
position:;
color:white;
font-family:Arial;
font-size:10dp;
padding-left:;
padding-top:;
padding-bottom: 10px;
position:fixed;
margin-left: 0%;
}
#title2{

	padding-left:10%;
	z-index:1;
}
html, body {
margin:0;
padding:0;
}
#textbox, #textbox2{margin:10% 5 5 5px;}
button{color:red;}
#para{width:50%;
font-family:Arial;
font-size:10px;
padding:1 1 1 1px;}
#side{
	z-index:1;
	height:100%;
	width:20%;
	background-color:#470000;
	position:absolute;
}
#buttClose{
	z-index: 1;
	height:0%;
	
	margin-left: 0%;
	background-color: red;
	position: absolute;
}
#togButt{
	z-index: 2;
	height:100%;

	margin-left: 0%;
	background-color: #470000;
	position: absolute;
}

body {background-color:#636363;}

input[type=text]
{
    background-color: #FF3333;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
    box-shadow: 2px 2px 0 #828181 inset;
}
button
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
    border-radius: 5px;
}

input[type=button], input[type=text]
{
    border: 0;
    border-radius:5px;
    font-family: Sansation,Arial;
}
#sideBox{
	position: absolute;
	width: 95%
}

.sList{
	color:white;
	font-family:Arial;
	border-bottom: solid;
	border-color: #FF3333;
	border-spacing:10px;
	border-width: 1px;
	position:absolute;
	width: 100%;
	padding-left: 20%;
	margin-top: 13%;
	margin-bottom: 20px;
	z-index: 2;

}
#conList{
	width:75%;
	position:absolute;
	margin-right: 0px;
	position:center;
}
